<a href="https://colab.research.google.com/github/AnnSenina/AoC2024/blob/main/AoC5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# День 5

In [123]:
test = '''47|53
97|13
97|61
97|47
75|29
61|13
75|53
29|13
97|29
53|29
61|53
97|53
61|29
47|13
75|47
97|75
47|61
75|61
47|29
75|13
53|13'''

check = '''75,47,61,53,29
97,61,53,29,13
75,29,13
75,97,47,61,53
61,13,29
97,13,75,29,47'''

In [124]:
d = {}
for i in test.split('\n'):
  if i.split('|')[0] not in d:
    d[i.split('|')[0]] = [i.split('|')[1]]
  else:
    d[i.split('|')[0]] += [i.split('|')[1]]
d

{'47': ['53', '13', '61', '29'],
 '97': ['13', '61', '47', '29', '53', '75'],
 '75': ['29', '53', '47', '61', '13'],
 '61': ['13', '53', '29'],
 '29': ['13'],
 '53': ['29', '13']}

In [41]:
count_mist = 0
right = []
for row in check.split('\n'):
  row = row.split(',')
  for i in row: # 29|13
    if i in d:
      for n in d[i]:
        if n in row[:row.index(i)]:
          #print(row, n, 'ошибка')
          count_mist += 1
  if count_mist > 0:
    pass
  else:
    right.append(row)

res = 0
for i in right:
  res += int(i[int(len(i) / 2 - 0.5)])
res

143

## Задача 1

In [138]:
with open('input5.txt') as f:
  text = f.read()

test, check = text.split('\n\n')

In [ ]:
d = {}
for i in test.split('\n'):
  if i.split('|')[0] not in d:
    d[i.split('|')[0]] = [i.split('|')[1]]
  else:
    d[i.split('|')[0]] += [i.split('|')[1]]
d

In [141]:
right = []
wrong = []
for row in check.split('\n'):
  count_mist = 0
  row = row.split(',')
  for i in row: # 29|13
    if i in d:
      for n in d[i]:
        if n in row[:row.index(i)]:
          #print(row, n, 'ошибка')
          count_mist += 1
  if count_mist > 0:
    wrong.append(row)
  else:
    right.append(row)

res = 0
for i in right[:-1]:
  res += int(i[int(len(i) / 2 - 0.5)])
res

6505

## Задача 2

In [88]:
test1 = '61,13,29'.split(',')
test2 = test1.copy()
for i in test1: # 29|13
  if i in d:
    for n in d[i]:
      if n in test1[:test1.index(i)]:
        print(n, 'ошибка')
        test2.remove(n)
        test2.insert(test2.index(i)+1, n)

13 ошибка

In [136]:
def clean(test1):
  test2 = test1.copy()
  for i in test1:
    if i in d:
      for n in d[i]:
        if n in test1[:test1.index(i)]:
          test2.remove(n)
          test2.insert(test2.index(i)+1, n)
  return test2

In [143]:
def count_mist(row):
  count_mist = 0
  for i in row: # 29|13
    if i in d:
      for n in d[i]:
        if n in row[:row.index(i)]:
          count_mist += 1
  return count_mist

In [ ]:
res = []
for row in wrong:
  mist = count_mist(row)
  be_clean = row[:]
  while count_mist(be_clean) > 0:
    be_clean = clean(be_clean)
  res.append(be_clean)

res

In [146]:
result = 0
for i in res:
  result += int(i[int(len(i) / 2 - 0.5)])
result

6897