<a href="https://colab.research.google.com/github/AnnSenina/AoC2024/blob/main/AoC_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# День 4

## Задача 1

In [216]:
test = '''MMMSXXMASM
MSAMXMSMSA
AMXSXMAAMM
MSAMASMSMX
XMASAMXAMM
XXAMMXXAMA
SMSMSASXSS
SAXAMASAAA
MAMMMXMMMM
MXMXAXMASX'''

import numpy as np

m = []
for i in test.split('\n'):
  m.append(np.array(list(i)))
m = np.matrix(m)
m

matrix([['M', 'M', 'M', 'S', 'X', 'X', 'M', 'A', 'S', 'M'],
        ['M', 'S', 'A', 'M', 'X', 'M', 'S', 'M', 'S', 'A'],
        ['A', 'M', 'X', 'S', 'X', 'M', 'A', 'A', 'M', 'M'],
        ['M', 'S', 'A', 'M', 'A', 'S', 'M', 'S', 'M', 'X'],
        ['X', 'M', 'A', 'S', 'A', 'M', 'X', 'A', 'M', 'M'],
        ['X', 'X', 'A', 'M', 'M', 'X', 'X', 'A', 'M', 'A'],
        ['S', 'M', 'S', 'M', 'S', 'A', 'S', 'X', 'S', 'S'],
        ['S', 'A', 'X', 'A', 'M', 'A', 'S', 'A', 'A', 'A'],
        ['M', 'A', 'M', 'M', 'M', 'X', 'M', 'M', 'M', 'M'],
        ['M', 'X', 'M', 'X', 'A', 'X', 'M', 'A', 'S', 'X']], dtype='<U1')

In [ ]:
#m[row,5:9]
#m[row,2:6]
#m[2:6,col]
#m[5:9,col]
# m[5,5] + m[6,6] + m[7,7] + m[8,8] # +
# m[5,5] + m[4,4] + m[3,3] + m[2,2] # -
# m[5,5] + m[4,6] + m[3,7] + m[2,8] # -+
# m[5,5] + m[6,4] + m[7,3] + m[8,2] # +-

In [58]:
with open('input4.txt') as f:
  text = f.read()

In [282]:
text = text.strip('\n')

In [283]:
m = []
for i in text.split('\n'):
  m.append(np.array(list(i)))
m = np.matrix(m)
m

matrix([['X', 'A', 'X', ..., 'X', 'S', 'S'],
        ['M', 'S', 'A', ..., 'A', 'M', 'X'],
        ['A', 'X', 'A', ..., 'A', 'X', 'S'],
        ...,
        ['M', 'S', 'A', ..., 'A', 'X', 'X'],
        ['A', 'S', 'A', ..., 'M', 'M', 'A'],
        ['X', 'M', 'X', ..., 'X', 'S', 'X']], dtype='<U1')

In [291]:
coord = []
for i in range(len(np.where(m == 'X')[0])):
  coord.append([np.where(m == 'X')[0][i], np.where(m == 'X')[1][i]])
coord[:10]

[[0, 0],
 [0, 2],
 [0, 5],
 [0, 7],
 [0, 8],
 [0, 18],
 [0, 21],
 [0, 25],
 [0, 33],
 [0, 41]]

In [247]:
check = np.matrix(list('XMAS'))
check2 = np.matrix(list('SAMX'))
check3 = np.matrix(list('SAMX')).reshape(4,1)
check4 = np.matrix(list('XMAS')).reshape(4,1)

In [304]:
count = 0
for i in coord:
  try:
    #if 0 <= i[1] + 4 < m.shape[1]:
      if np.array_equal(m[i[0],i[1]:i[1]+4], check):
        count += 1
  except:
    pass
  try:
    #if 0 <= i[1] - 4 < m.shape[1]:
      if np.array_equal(m[i[0],i[1]-3:i[1]+1], check2):
        count += 1
  except:
    pass
  try:
    #if 0 <= i[0] - 3 < m.shape[1]:
      if np.array_equal(m[i[0]-3:i[0]+1,i[1]], check3):
        count += 1
  except:
    pass
  try:
    #if 0 <= i[0] + 4 < m.shape[1]:
      if np.array_equal(m[i[0]:i[0]+4,i[1]], check4):
        count += 1
  except:
    pass
count

853

In [305]:
for i in coord:
  try:
    if 0 <= i[1] + 3 < m.shape[1] and 0 <= i[0] + 3 < m.shape[0]:
      if m[i[0],i[1]] + m[i[0]+1,i[1]+1] + m[i[0]+2,i[1]+2] + m[i[0]+3,i[1]+3] == 'XMAS':
        count +=1
  except:
    pass
  try:
    if 0 <= i[1] - 3 < m.shape[1] and 0 <= i[0] - 3 < m.shape[0]:
      if m[i[0],i[1]] + m[i[0]-1,i[1]-1] + m[i[0]-2,i[1]-2] + m[i[0]-3,i[1]-3] == 'XMAS':
        count +=1
  except:
    pass
  try:
    if 0 <= i[1] + 3 < m.shape[1] and 0 <= i[0] - 3 < m.shape[0]:
      if m[i[0],i[1]] + m[i[0]-1,i[1]+1] + m[i[0]-2,i[1]+2] + m[i[0]-3,i[1]+3] == 'XMAS':
        count +=1
  except:
    pass
  try:
    if 0 <= i[1] - 3 < m.shape[1] and 0 <= i[0] + 3 < m.shape[0]:
      if m[i[0],i[1]] + m[i[0]+1,i[1]-1] + m[i[0]+2,i[1]-2] + m[i[0]+3,i[1]-3] == 'XMAS':
        count +=1
  except:
    pass
count

2500

## Часть 2

In [333]:
coord = []
for i in range(len(np.where(m == 'A')[0])):
  coord.append([np.where(m == 'A')[0][i], np.where(m == 'A')[1][i]])
coord[:10]

[[0, 1],
 [0, 3],
 [0, 10],
 [0, 20],
 [0, 23],
 [0, 47],
 [0, 50],
 [0, 52],
 [0, 54],
 [0, 58]]

In [334]:
count = 0
for i in coord:
  try:
    if m[i[0]-1,i[1]-1] == 'S' and \
      m[i[0]-1,i[1]+1] == 'M' and \
      m[i[0]+1,i[1]-1] == 'S' and \
      m[i[0]+1,i[1]+1] == 'M' and \
      0 <= i[0] <= m.shape[0] and 0 <= i[1] <= m.shape[0]:
        count += 1
  except:
    pass
count # 488

488

In [337]:
count = 0
for i in coord:
  try:
    if m[i[0]-1,i[1]-1] == 'S' and \
      m[i[0]-1,i[1]+1] == 'M' and \
      m[i[0]+1,i[1]-1] == 'S' and \
      m[i[0]+1,i[1]+1] == 'M' and \
      0 <= i[0]+1 <= m.shape[0] and 0 <= i[1]+1 <= m.shape[0] and \
      0 <= i[0]-1 <= m.shape[0] and 0 <= i[1]-1 <= m.shape[0]:
        count += 1
  except:
    pass

  try:
    if m[i[0]-1,i[1]-1] == 'M' and \
      m[i[0]-1,i[1]+1] == 'S' and \
      m[i[0]+1,i[1]-1] == 'M' and \
      m[i[0]+1,i[1]+1] == 'S' and \
      0 <= i[0]+1 <= m.shape[0] and 0 <= i[1]+1 <= m.shape[0] and \
      0 <= i[0]-1 <= m.shape[0] and 0 <= i[1]-1 <= m.shape[0]:
        count += 1
  except:
    pass

  try:
    if m[i[0]-1,i[1]-1] == 'S' and \
      m[i[0]-1,i[1]+1] == 'S' and \
      m[i[0]+1,i[1]-1] == 'M' and \
      m[i[0]+1,i[1]+1] == 'M' and \
      0 <= i[0]+1 <= m.shape[0] and 0 <= i[1]+1 <= m.shape[0] and \
      0 <= i[0]-1 <= m.shape[0] and 0 <= i[1]-1 <= m.shape[0]:
        count += 1
  except:
    pass

  try:
    if m[i[0]-1,i[1]-1] == 'M' and \
      m[i[0]-1,i[1]+1] == 'M' and \
      m[i[0]+1,i[1]-1] == 'S' and \
      m[i[0]+1,i[1]+1] == 'S' and \
      0 <= i[0]+1 <= m.shape[0] and 0 <= i[1]+1 <= m.shape[0] and \
      0 <= i[0]-1 <= m.shape[0] and 0 <= i[1]-1 <= m.shape[0]:
        count += 1
  except:
    pass

count

1933

### Неудачные попытки

В этот раз было сложно......... 🥺

In [146]:
test = '''MMMSXXMASM
MSAMXMSMSA
AMXSXMAAMM
MSAMASMSMX
XMASAMXAMM
XXAMMXXAMA
SMSMSASXSS
SAXAMASAAA
MAMMMXMMMM
MXMXAXMASX'''

import re
print(re.findall(r'XMAS', test))
print(re.findall(r'XMAS', test[::-1]))
vert = []
for i in range(len(test.split('\n')[0])): # 0-9
  s = ''
  for xm in test.split('\n'):
    s += xm[i]
  vert.append(s)
print(re.findall(r'XMAS', '\n'.join(vert)))
print(re.findall(r'XMAS', '\n'.join(vert)[::-1]))

['XMAS', 'XMAS', 'XMAS']
['XMAS', 'XMAS']
['XMAS']
['XMAS', 'XMAS']

In [135]:
dia = []
for str1 in range(len(test.split('\n')[0])):
  ind = str1
  s = ''
  for i in test.split('\n'):
    try:
      s += i[ind]
      ind += 1
    except:
      pass
  dia.append(s)
text_my_split = []
for i in range(len(test.split('\n')[1:])):
  my_split = test.split('\n')[i:]
  text_my_split.append(my_split)
for txt in text_my_split[1:]:
  s = ''
  ind = 0
  for n in range(len(txt)):
    s += txt[n][ind]
    ind += 1
  dia.append(s)
print(re.findall(r'XMAS', '\n'.join(dia)))
print(re.findall(r'XMAS', '\n'.join(dia)[::-1]))

# не все диагонали

['XMAS']
['XMAS', 'XMAS', 'XMAS', 'XMAS']