<a href="https://colab.research.google.com/github/AnnSenina/AoC2024/blob/main/AoC_7_%20part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# День 7

In [54]:
test = '''190: 10 19
3267: 81 40 27
83: 17 5
156: 15 6
7290: 6 8 6 15
161011: 16 10 13
192: 17 8 14
21037: 9 7 18 13
292: 11 6 16 20'''.split('\n')

d = {}

for i in test:
  key, value = i.split(': ')
  d[int(key)] = list(map(int, value.split()))
d

{190: [10, 19],
 3267: [81, 40, 27],
 83: [17, 5],
 156: [15, 6],
 7290: [6, 8, 6, 15],
 161011: [16, 10, 13],
 192: [17, 8, 14],
 21037: [9, 7, 18, 13],
 292: [11, 6, 16, 20]}

In [55]:
answer = 0

for k, v in d.items():

  cash = {}

  pos = 0
  cash[pos] = [v[1] + v[0], v[1] * v[0]]
  for i in range(2, len(v)):
    somelist = []
    for val in cash[pos]:
      somelist.append(val + v[i])
      somelist.append(val * v[i])
    pos += 1
    cash[pos] = somelist
  if k in cash[len(v)-2]:
    answer += k
    print(k, v, answer)
answer

190 [10, 19] 190
3267 [81, 40, 27] 3457
292 [11, 6, 16, 20] 3749

3749

In [2]:
import itertools

def find_comb(l):
  comb = []
  for i in range(len(l) - 1):
    comb.append('+')
    comb.append('*')
  return set(list(itertools.permutations(comb, len(l))))

find_comb([10, 19])

{('*', '+'), ('+', '*')}

In [ ]:
def find_pr(l, c):
  for a in c:
    comb = l + list(a)
    step1 = set(list(itertools.permutations(comb, len(comb) - 1)))
    step2 = []
    for i in step1:
      mist = 0
      ind = 0
      for n in range(len(i)):
        if n % 2 == 0:
          if type(i[n]) == str:
            mist += 1
        else:
          if type(i[n]) == int:
              mist += 1
      for k in list(range(0, len(i), 2)):
        if i[k] != l[ind]:
          mist += 1
          break
        ind += 1
      if mist == 0:
        step2.append(i)
    return step2

res = find_pr([2, 892, 65, 427, 3, 389], find_comb([2, 892, 65, 427, 3, 389]))
res

In [ ]:
l = [11, 6, 16, 20]

for sym in res:
  sum_s = sym[0]
  for n in range(1, len(sym)):
    if n % 2 == 0:
      if sym[n-1] == '+':
        sum_s += sym[n]
      else:
        sum_s *= sym[n]
  if sum_s == 292:
    print('it works!, but', sym)
    ind = 0 # поправить
    for i in list(range(0, len(sym), 2)):
      if sym[i] != l[ind]:
        print('увы')
        break
      ind += 1

In [ ]:
answer = []

for k, v in d.items():
  step = find_comb(v)
  step2 = find_pr(v, step)
  for sym in step2:
    sum_s = sym[0]
    for n in range(1, len(sym)):
      if n % 2 == 0:
        if sym[n-1] == '+':
          sum_s += sym[n]
        else:
          sum_s *= sym[n]
    if sum_s == k:
        answer.append(k)
sum(set(answer))

3749

## Задача 1

In [110]:
with open('input7.txt') as f:
  text = f.read()
text = text.strip()

In [113]:
d = {}
d2 = {}

for i in text.split('\n'):
  key, value = i.split(': ')
  if int(key) not in d:
    d[int(key)] = list(map(int, value.split()))
  else:
    d2[int(key)] = list(map(int, value.split()))
d2

{45711: [1, 1, 98, 4, 57, 11], 1028: [31, 47, 828, 33, 89]}

In [114]:
answer = 0

for k, v in d.items():

  cash = {}

  pos = 0
  cash[pos] = [v[1] + v[0], v[1] * v[0]]
  for i in v[2:]:
    somelist = []
    for val in cash[pos]:
      somelist.append(val + i)
      somelist.append(val * i)
    pos += 1
    cash[pos] = somelist
  if k in cash[len(v)-2]:
    answer += k

answer

2664460012095

In [115]:
answer2 = 0

for k, v in d2.items():

  cash = {}

  pos = 0
  cash[pos] = [v[1] + v[0], v[1] * v[0]]
  for i in v[2:]:
    somelist = []
    for val in cash[pos]:
      somelist.append(val + i)
      somelist.append(val * i)
    pos += 1
    cash[pos] = somelist
  if k in cash[len(v)-2]:
    answer2 += k

answer2

1028

In [116]:
answer + answer2

2664460013123

### Неудачные попытки

In [ ]:
import time

answer = []

for k, v in d.items():
  step = find_comb(v)
  step2 = find_pr(v, step)
  for sym in step2:
    sum_s = sym[0]
    for n in range(1, len(sym)):
      if n % 2 == 0:
        if sym[n-1] == '+':
          sum_s += sym[n]
        else:
          sum_s *= sym[n]
    if sum_s == k:
        answer.append(k)
    print(sum_s)
sum(set(answer))